In [1]:
import pandas as pd
from datetime import datetime

In [2]:
order_df = pd.read_csv("./data/delivery_orders_march.csv")
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [3]:
order_df["pick"] = pd.to_datetime(order_df["pick"], unit = 's')
order_df["1st_deliver_attempt"] = pd.to_datetime(order_df["1st_deliver_attempt"], unit = 's')
order_df["2nd_deliver_attempt"] = pd.to_datetime(order_df["2nd_deliver_attempt"], unit = 's')
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,2020-03-02 08:39:57,2020-03-05 05:09:18,NaT,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,2020-03-04 08:19:28,2020-03-06 02:53:56,2020-03-10 00:02:56,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,2020-03-04 07:20:34,2020-03-06 01:56:19,NaT,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,2020-03-05 14:36:56,2020-03-07 04:45:41,NaT,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,2020-03-04 10:38:25,2020-03-06 07:41:40,NaT,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [5]:
order_df["pick"] = order_df["pick"].apply(lambda x: x.replace(hour = 0, minute= 0, second = 0))
order_df["1st_deliver_attempt"] = order_df["1st_deliver_attempt"].apply(lambda x: x.replace(hour = 0, minute= 0, second = 0))
order_df["2nd_deliver_attempt"] = order_df["2nd_deliver_attempt"].apply(lambda x: x.replace(hour = 0, minute= 0, second = 0))
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,2020-03-02,2020-03-05,NaT,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,2020-03-04,2020-03-06,2020-03-10,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,2020-03-04,2020-03-06,NaT,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,2020-03-05,2020-03-07,NaT,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,2020-03-04,2020-03-06,NaT,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [9]:
sla = {
    'metro manila': {
        'metro manila': 3,
        'luzon': 5,
        'visayas': 7,
        'mindanao': 7
    },
    'luzon': {
        'metro manila': 5,
        'luzon': 5,
        'visayas': 7,
        'mindanao': 7
    },
    'visayas': {
        'metro manila': 7,
        'luzon': 7,
        'visayas': 7,
        'mindanao': 7
    },
    'mindanao': {
        'metro manila': 7,
        'luzon': 7,
        'visayas': 7,
        'mindanao': 7
    }
}
locations = list(sla.keys())
pub_hols = [datetime(2020, 3, 25), datetime(2020, 3, 30), datetime(2020, 3, 31)]

print(sla)
print(locations)
print(pub_hols)

{'metro manila': {'metro manila': 3, 'luzon': 5, 'visayas': 7, 'mindanao': 7}, 'luzon': {'metro manila': 5, 'luzon': 5, 'visayas': 7, 'mindanao': 7}, 'visayas': {'metro manila': 7, 'luzon': 7, 'visayas': 7, 'mindanao': 7}, 'mindanao': {'metro manila': 7, 'luzon': 7, 'visayas': 7, 'mindanao': 7}}
['metro manila', 'luzon', 'visayas', 'mindanao']
[datetime.datetime(2020, 3, 25, 0, 0), datetime.datetime(2020, 3, 30, 0, 0), datetime.datetime(2020, 3, 31, 0, 0)]

In [7]:
def get_location(add):
    add = add.lower()
    for idx, loc in enumerate(locations):
        add = add.replace(loc, "<<{}".format(idx))
    
    tokens = add.split()
    for token in tokens:
        try:
            if token[:2] == "<<":
                loc_idx = int(token[-1])
                return locations[loc_idx]
        except Exception:
            pass
    return None

order_df['origin'] = order_df['selleraddress'].apply(get_location)
order_df['dest'] = order_df['buyeraddress'].apply(get_location)
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,origin,dest
0,2215676524,2020-03-02,2020-03-05,NaT,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,metro manila,metro manila
1,2219624609,2020-03-04,2020-03-06,2020-03-10,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",metro manila,metro manila
2,2220979489,2020-03-04,2020-03-06,NaT,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",metro manila,metro manila
3,2221066352,2020-03-05,2020-03-07,NaT,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",metro manila,metro manila
4,2222478803,2020-03-04,2020-03-06,NaT,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,metro manila,luzon

In [15]:
def num_days_between(start, end):
    num_weeks, remainder = divmod((end-start).days, 7)
    if (6 - start.weekday() ) % 7 <= remainder:
        return num_weeks + 1
    else:
        return num_weeks
    
def nump_1(row):
    num_sundays = num_days_between(row['pick'], row['1st_deliver_attempt'])
    
    after_start = [dt >= row['pick'] for dt in pub_hols]
    before_end = [dt <= row['1st_deliver_attempt'] for dt in pub_hols]
    num_pub_hols = sum([x[0] and x[1] for x in zip(after_start, before_end)])

    return row['1st_deliver_attempt'] - row['pick'] - pd.Timedelta(days = num_sundays + num_pub_hols)

order_df['p-1'] = order_df.apply(lambda x: nump_1(x), axis = 1)
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,origin,dest,p-1,1_2
0,2215676524,2020-03-02,2020-03-05,NaT,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,metro manila,metro manila,3 days,NaT
1,2219624609,2020-03-04,2020-03-06,2020-03-10,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",metro manila,metro manila,2 days,3 days
2,2220979489,2020-03-04,2020-03-06,NaT,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",metro manila,metro manila,2 days,NaT
3,2221066352,2020-03-05,2020-03-07,NaT,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",metro manila,metro manila,2 days,NaT
4,2222478803,2020-03-04,2020-03-06,NaT,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,metro manila,luzon,2 days,NaT

In [16]:
def num1_2(row):
    if row['2nd_deliver_attempt'].isna():
        return None

    num_sundays = num_days_between(row['1st_deliver_attempt'], row['2nd_deliver_attempt'])
    
    after_start = [dt >= row['1st_deliver_attempt'] for dt in pub_hols]
    before_end = [dt <= row['2nd_deliver_attempt'] for dt in pub_hols]
    num_pub_hols = sum([x[0] and x[1] for x in zip(after_start, before_end)])

    return row['2nd_deliver_attempt'] - row['1st_deliver_attempt'] - pd.Timedelta(days = num_sundays + num_pub_hols)

order_df["1_2"] = order_df.apply(lambda x: num1_2(x), axis = 1)
order_df.head()

AttributeError: 'NaTType' object has no attribute 'isna'

In [19]:
order_df.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,origin,dest,p-1,1_2
0,2215676524,2020-03-02,2020-03-05,NaT,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,metro manila,metro manila,3 days,NaT
1,2219624609,2020-03-04,2020-03-06,2020-03-10,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",metro manila,metro manila,2 days,3 days
2,2220979489,2020-03-04,2020-03-06,NaT,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",metro manila,metro manila,2 days,NaT
3,2221066352,2020-03-05,2020-03-07,NaT,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",metro manila,metro manila,2 days,NaT
4,2222478803,2020-03-04,2020-03-06,NaT,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,metro manila,luzon,2 days,NaT

In [22]:
output = []
for idx, row in order_df.iterrows():
    p_1_limit = sla[row['origin']][row['dest']]
    if row['p-1'].days > p_1_limit:
        output.append([row['orderid'], 1])
    elif pd.notnull(row["1_2"]) and row['1_2'].days > 3:
        output.append([row['orderid'], 1])
    else:
        output.append([row['orderid'], 0])
        
output_df = pd.DataFrame(output, columns = ['orderid', 'is_late'])
output_df.head()

      orderid  is_late
0  2215676524        0
1  2219624609        0
2  2220979489        0
3  2221066352        0
4  2222478803        0

In [23]:
output_df.to_csv("./output.csv", index = False)